<div class="layout-content">
  <div class="layout-content-form">
    <div class="layout-content-title">
      <h3>Forgotten Password ?</h3>
      {{! <span>After receiving the receipt there will be an OTP code in your email and valid for one minute</span> }}
      <span>Enter your email and phone number to reset your password</span>
    </div>
    <div class="form-forgot-password-tab">
      <form action="/send-email" method="POST" id="form-send-email">
        <div class="layout-content-form-tab-login">
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">Email</label>
            <input
              type="text"
              name="email"
              class="layout-content-input email-form-send"
              placeholder="Email"
            />
          </div>
        {{#if message}}
            <div class="layout-content-group error-form">
                {{message}}
            </div>
        {{/if}}
        </div>
          <button class="btn btn-previous"type="button">Previous</button>
          <button class="btn btn-next" type="submit">Next</button>
          <button class="btn btn-create-account" type="button">Submit</button>
      </form>
    <div class="copy-right">
      <span>2022© <strong>Keenthemes</strong></span>
    </div>
  </div>
</div>