<div class="layout-content">
  <div class="layout-content-form">
    <div class="layout-content-title">
      <h3>Forgotten Password ?</h3>
      {{! <span>After receiving the receipt there will be an OTP code in your email and valid for one minute</span> }}
      <span>Enter your email and phone number to reset your password</span>
    </div>
    <div class="form-forgot-password-tab">
      <form action="/reset-pass/{{email}}" method="POST" id="form-reset-pass">
        <div class="layout-content-form-tab-login">
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">New Password</label>
            <input
              type="password"
              name="newpassword"
              class="layout-content-input"
              placeholder="New Password"
            />
          </div>
          <div class="layout-content-group layout-content-group-login">
            <label class="layout-label">Comfirm new password</label>
            <input
              type="password"
              name="comfirmnewpassword"
              class="layout-content-input"
              placeholder="Comfirm new password"
            />
          </div>
        </div>
         {{#if message}}
            <div class="layout-content-group error-form">
                {{message}}
            </div>
        {{/if}}
        <div class="form-btn">
          <button class="btn btn-create-account" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="copy-right">
      <span>2022© <strong>Keenthemes</strong></span>
    </div>
  </div>
</div>